[toolchain]
anchor_version = "0.29.0"

[features]
resolution = true
skip-lint = false

[programs.mainnet]
pump = "GyukgDYugNtzHiEdRroSiU5iFTCDJ1geAF2ekP6UbBTY"

[programs.devnet]
pump = "GyukgDYugNtzHiEdRroSiU5iFTCDJ1geAF2ekP6UbBTY"

[registry]
url = "https://api.mainnet-beta.solana.com"

[provider]
cluster = "mainnet"
wallet = "./id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[test]
startup_wait = 10000
shutdown_wait = 2000
upgradeable = false
